*
!/**/
!*.scala
!*.sbt
!*.txt
!*.md
!*.xml
!*.properties
!*.sh
!.travis.yml
!.gitignore
/target/
/project/**
!/project/*.scala
!/project/*.properties
!/project/*.sbt

/.idea/

# for docs
/docs/**
!/docs/*.md

# ast
/ast/target/

# jsonrpc
!/jsonrpc/
/jsonrpc/target/

# interpreter
!/interpreter/
/interpreter/target/
