.create_account_step {
    -fx-font-size: 14px;
    -fx-text-fill: #ADBBC4;
    -fx-border-color: #485764;
    -fx-border-width: 0px 0px 1px 0px;
}

.create_account_mouse_track_pad {
    -fx-background-color: #0F171C;
    -fx-background-radius: 10px 10px 0 0;
    -fx-border-width: 1px;
    -fx-border-color: #20333D;
    -fx-border-radius: 10px 10px 0 0;
}

.create_account_mouse_track_result {
    -fx-background-color: #0F171C;
    -fx-background-radius: 0 0 10px 10px;
    -fx-border-width: 0 1px 1px 1px;
    -fx-border-color: #20333d;
    -fx-border-radius: 0 0 10px 10px;
}

.create_account_field_label {
    -fx-background-color: rgb(15, 96, 130, 0.3);
    -fx-background-radius: 11px;
    -fx-text-fill: #E9ECEF;
    -fx-font-size: 11px;
}
.create_account_random_text {
    -fx-background-color: transparent;
    -fx-text-fill: #9B9B9B;
}
.create_account_random_text .scroll-pane {
    -fx-background-color: transparent;
}
.create_account_random_text .viewport {
    -fx-background-color: transparent;
}
.create_account_random_text .content {
    -fx-background-color: transparent;
}
.create_account_random_text .scroll-bar:vertical {
    -fx-opacity: 0;
}
.create_account_password {
    -fx-background-color: transparent;
    -fx-border-color: #ADBBC4;
    -fx-border-width: 0 0 1px 0px;
    -fx-text-fill: #E9ECEF;
}