<configuration>
    <appender name="NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger{5}@[%-4.30thread] - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="NOCOLOR"/>
    </root>
    <!-- ast -->
    <logger name="fssi.ast" level="debug" additivity="false">
        <appender-ref ref="NOCOLOR" />
    </logger>

    <!-- interpreter -->
    <logger name="fssi.interpreter" level="debug" additivity="false">
        <appender-ref ref="NOCOLOR" />
    </logger>

    <!-- world -->
    <logger name="fssi.world" level="debug" additivity="false">
        <appender-ref ref="NOCOLOR" />
    </logger>

    <!-- jsonrpc -->
    <logger name="fssi.jsonrpc" level="debug" additivity="false">
        <appender-ref ref="NOCOLOR" />
    </logger>

    <!-- 3rd lib -->
    <logger name="org.http4s.blaze.pipeline" additivity="fase" level="warn">
        <appender-ref ref="NOCOLOR"/>
    </logger>
    <logger name="org.http4s.server.blaze" additivity="fase" level="warn">
        <appender-ref ref="NOCOLOR"/>
    </logger>
    <logger name="io.netty" additivity="false" level="info">
        <appender-ref ref="NOCOLOR"/>
    </logger>

    <!-- scalecube -->
    <logger name="io.scalecube" additivity="false" level="info">
        <appender-ref ref="NOCOLOR"/>
    </logger>
    <logger name="io.scalecube.transport" additivity="false" level="error">
        <appender-ref ref="NOCOLOR"/>
    </logger>
    <logger name="io.scalecube.cluster" additivity="false" level="error">
        <appender-ref ref="NOCOLOR"/>
    </logger>
    <logger name="org.http4s" additivity="false" level="error">
        <appender-ref ref="NOCOLOR" />
    </logger>

</configuration>
