<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@"/>
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%date{HH:mm:ss.SSS}) %highlight(%-5logger %line) %colorize(%msg) %n</pattern>
        </encoder>
    </appender>

    <logger name="org.wexchain" additivity="false" level="info">
        <appender-ref ref="COLOR"/>
    </logger>

    <root level="error" additivity="false">
        <appender-ref ref="COLOR"/>
    </root>
</configuration>
