<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@"/>
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %colorize(%msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="COLOR1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(@[%-4.30thread]) - %colorize(%msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>[%date] [%level] [%logger{5}@%file:%line] %msg%n</pattern> -->
            <pattern>[%date] [%level] [%logger{5}@%thread] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="COLOR1"/>
    </root>

    <logger name="scalap.ast" additivity="false" level="debug">
        <appender-ref ref="COLOR1" />
    </logger>
    <logger name="bigknife.scalap" additivity="false" level="debug">
        <appender-ref ref="COLOR1" />
    </logger>

</configuration>
