<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@"/>
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %colorize(%msg) %n</pattern>
            <!--
                    <pattern>[%date] %highlight([%level]) %cyan([%logger{10} %file:%line]) %msg%n</pattern>
                -->
            <!--             ^^^^^^^^^^ -->
        </encoder>
    </appender>
    <appender name="NOCOLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>[%date] [%level] [%logger{5}@%file:%line] %msg%n</pattern> -->
            <pattern>[%date] [%level] [%logger{5}@%thread] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="COLOR"/>
    </root>
    <!-- ast -->
    <logger name="fssi.ast" level="debug" additivity="false">
        <appender-ref ref="COLOR" />
    </logger>

    <!-- interpreter -->
    <logger name="fssi.interpreter" level="debug" additivity="false">
        <appender-ref ref="COLOR" />
    </logger>

    <!-- world -->
    <logger name="fssi.world" level="debug" additivity="false">
        <appender-ref ref="COLOR" />
    </logger>

    <!-- jsonrpc -->
    <logger name="fssi.warrior" level="debug" additivity="false">
        <appender-ref ref="COLOR" />
    </logger>

    <!-- 3rd lib -->
    <logger name="org.http4s.blaze.pipeline" additivity="fase" level="warn">
        <appender-ref ref="COLOR"/>
    </logger>
    <logger name="org.http4s.server.blaze" additivity="fase" level="warn">
        <appender-ref ref="COLOR"/>
    </logger>
    <logger name="io.netty" additivity="false" level="info">
        <appender-ref ref="COLOR"/>
    </logger>

    <!-- scalecube -->
    <logger name="io.scalecube" additivity="false" level="info">
        <appender-ref ref="COLOR"/>
    </logger>
    <logger name="io.scalecube.transport" additivity="false" level="error">
        <appender-ref ref="COLOR"/>
    </logger>
    <logger name="io.scalecube.cluster" additivity="false" level="error">
        <appender-ref ref="COLOR"/>
    </logger>
    <logger name="org.http4s" additivity="false" level="error">
        <appender-ref ref="COLOR" />
    </logger>
    <logger name="scalap.ast" additivity="false" level="info">
        <appender-ref ref="COLOR" />
    </logger>
    <logger name="bigknife.scalap" additivity="false" level="info">
        <appender-ref ref="COLOR" />
    </logger>

</configuration>
