<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@"/>
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %colorize(%msg) %n</pattern>
            <!--
                    <pattern>[%date] %highlight([%level]) %cyan([%logger{10} %file:%line]) %msg%n</pattern>
                -->
            <!--             ^^^^^^^^^^ -->
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="COLOR"/>
    </root>
</configuration>
