<configuration>
    <property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@"/>
    <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer"/>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger@[%-4.30thread]) - %colorize(%msg) %n</pattern>
        </encoder>
    </appender>

    <logger name="scalap" additivity="false" level="debug">
        <appender-ref ref="COLOR" />
    </logger>
    <logger name="bigknife.scalap" additivity="false" level="debug">
        <appender-ref ref="COLOR" />
    </logger>

    <logger name="fssi" additivity="false" level="info">
      <appender-ref ref="COLOR" />
    </logger>

    <logger name="io.scalecube.transport" additivity="false" level="error">
        <appender-ref ref="COLOR" />
    </logger>

    <root level="warn">
        <appender-ref ref="COLOR"/>
    </root>

</configuration>
